.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  position: relative;
  width: 700px;
  height: 500px;
}

.card {
  position: absolute;

  width: 180px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;

  background: white;
  color: black;

  font-size: 1.2rem;
  font-weight: 600;

  box-shadow: 0 10px 30px rgba(0,0,0,0.1);

  cursor: pointer;

  left: 50%;
  top: 10%;

  transform: translate(-50%, -50%);
}