@import 'tailwindcss';

* {
  margin: 0%;
  padding: 0%;
}

:root {
  --bg: #fafafa;
  --surface: #ffffff;
  --text-primary: #111827;
  --text-secondary: #6b7280;

  --input: #ffff;
  --border: #e5e7eb;

  --primary: #ffb347;
  --secondary: #ff8a65;
  --accent: #f4d03f;

  --navbar-shadow:
    0 10px 30px rgba(0, 0, 0, 0.08);

  --contact-shadow:
    0 25px 60px rgba(0, 0, 0, .08),
    0 0 40px rgba(255, 179, 71, .15);

  --project-shadow:
    0 25px 50px rgba(0, 0, 0, 0.12);

  --radial-gradient:
    circle at bottom right,
    rgba(255, 138, 101, 0.10),
}

.dark {
  --bg: #0f172a;
  --surface: #1e293b;

  --text-primary: #f8fafc;
  --text-secondary: #cbd5e1;

  --border: #334155;
  --input: #efe8e8;

  --primary: #0052d4;
  --secondary: #6fb1fc;
  --accent: #23348a;

  --navbar-shadow:
    0 10px 30px rgba(0, 0, 0, 0.45);
  --contact-shadow:
    0 20px 40px rgba(0, 0, 0, 0.55),
    0 0 15px rgba(255, 138, 101, 0.06);
  --project-shadow:
    0 25px 50px rgba(0, 0, 0, 0.65);
  --radial-gradient: circle at bottom right rgba(0, 0, 0, 0.55),
    0 0 15px rgba(255, 138, 101, 0.06);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text-primary);
  transition:
    background 0.4s ease,
    color 0.4s ease;
}